<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"/>
<link rel="stylesheet" href="http://bootsnipp.com/css/bootsnipp.css?ver=e3494cffc2b53e681346e39b6f8ac3ea"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>

<style type="text/css">
    @media only screen and (max-width: 800px) {

        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        #no-more-tables tr { border: 1px solid #ccc; }

        #no-more-tables td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align:left;
        }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align:left;
            font-weight: bold;
        }

        /*
        Label the data
        */
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                {{ page }} Facebook Page Photo Stats
               {# <p class="alert alert danger">
                    {% if is_mobile_view() %}
                        {{ 'mobile' }}
                    {% elseif is_tablet_view() %}
                        {{ 'mobile' }}
                    {% elseif is_full_view() or is_not_mobile_view() %}
                        {{ 'full' }}
                    {% endif %}
                </p>#}
            </h1>
            <h3 class="text-center" style="width: 200px;">
                <a class="btn btn-small btn-primary btn-block" href="/photos/crawl">Update Photo Stats</a>
            </h3>
        </div>

        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>ID</th>
                        <th>Photo ID</th>
                        <th class="numeric">Photo Name</th>
                        <th class="numeric">Image Link</th>
                        <th class="numeric">Created At</th>
                        <th class="numeric">Number of Likes</th>
                        <th class="numeric">View Details</th>
                    </tr>
                </thead>
                <tbody>
                {% for photo in data %}
                    <tr>
                        <td data-title="ID">{{ photo.id }}</td>
                        <td data-title="Photo ID">{{ photo.photo_id }}</td>
                        <td data-title="Photo Name" class="numeric" style="width: 200px; text-wrap: normal;">{{ photo.name }}</td>
                        <td data-title="Image Link" class="numeric"><a href="{{ photo.image_url }}" target="_blank">Image</a> </td>
                        <td data-title="Createed At" class="numeric">{{ photo.created|date("F jS \\a\\t g:ia") }}</td>
                        <td data-title="Likes" class="numeric">{{ photo.number_of_likes }}</td>
                        <td data-title="Likes" class="numeric"><a href="photos/{{ photo.id }}">Details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>